.my-container {
  margin: 50px auto 10px;
  padding: 20px;
  max-width: 750px;
  font-family: "Lato", sans-serif;
  color: #191970;
  border: 1px solid #cfdfef;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 30px 5px #60a4ea;
  box-shadow: 0 0 30px 5px #60a4ea;
  background-image: url(../img/blue-sky-cloud.jpg);
  background-color: #abcdf1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-form {
  margin-bottom: 20px;
}

.current-temp {
  margin-bottom: -10px;
}

#day {
  font-size: 20px;
}

.temp {
  font-size: 62px;
  font-weight: 400;
}

.units {
  font-size: 24px;
  position: relative;
  top: -32px;
}

a:link {
  text-decoration: none;
}

li {
  list-style: none;
}

#icon {
  position: relative;
  top: -32px;
  font-size: 40px;
}

.night-theme {
  background-image: url(../img/night-sky.jpg);
  background-color: #1d2b37;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #bababa;
  border: 1px solid #596275;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 30px 5px #596275;
  box-shadow: 0 0 30px 5px #596275;
}

.weather-forecast {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.weather-forecast-day {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 14px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
